In [9]:
#import splinter , beautifulsoup and webdriver_manager
from splinter import Browser
#If you do not need to click on the website to go to the next page
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd

In [10]:
#set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser ('chrome', **executable_path, headless = False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [/Users/hector/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

In [26]:
#website
url= 'https://www.businessofapps.com/data/netflix-statistics/'
#visit the website
browser.visit(url)
html= browser.html

In [27]:
soup=BeautifulSoup(html,'html.parser')

In [130]:
#Dif_servers_df=Dif_servers.drop(columns=[0,1,2])
Dif_servers_df=Dif_servers.rename(columns={0:'Stream Service', 1:'Millions of Users'})
Dif_servers_c=Dif_servers_df.drop(columns=[2])
Dif_servers_clean=Dif_servers_c.drop([0,1,4,5,7,8,9,10])
Dif_servers_clean

  Stream Service Millions of Users
2        Netflix               204
3   Amazon Prime               150
6        HBO Max                38

In [131]:
table= soup.find_all('table')[1]
#Table_=table.text
table
Table_netflix_sub_df=pd.read_html(str(table))
Netflix_users=Table_netflix_sub_df[0]
Netflix_users

,0,1
0,Netflix users (paying subscribers) by quarter,Netflix users (paying subscribers) by quarter
1,Quarter,"Netflix users, millions"
2,Q3 2011,21.5
3,Q4 2011,21.6
4,Q1 2012,24.43
5,Q2 2012,25.71
6,Q3 2012,27.49
7,Q4 2012,30.36
8,Q1 2013,34.24
9,Q2 2013,35.63
10,Q3 2013,38.01
11,Q4 2013,41.43
12,Q1 2014,46.14
13,Q2 2014,47.99
14,Q3 2014,50.65
15,Q4 2014,54.48
16,Q1 2015,59.62
17,Q2 2015,62.71
18,Q3 2015,66.02
19,Q4 2015,70.84
20,Q1 2016,77.71
21,Q2 2016,79.9
22,Q3 2016,83.28
23,Q4 2016,89.09
24,Q1 2017,94.36
25,Q2 2017,99.04
26,Q3 2017,104.02
27,Q4 2017,110.64
28,Q1 2018,118.9
29,Q2 2018,124.35
30,Q3 2018,130.42
31,Q4 2018,139.26
32,Q1 2019,148.86
33,Q2 2019,151.56
34,Q3 2019,158.33
35,Q4 2019,167.09
36,Q1 2020,182.86
37,Q2 2020,192.95
38,Q3 2020,195.15
39,Q4 2020,203.66

In [132]:
N=Netflix_users[[0,1]].drop([0,1])
Netflix_clean=N.rename(columns={0:'Quarter', 1:'Millions of Users'})
#Netflix_clean(int('Millions of Users'))
Netflix_clean

    Quarter Millions of Users
2   Q3 2011              21.5
3   Q4 2011              21.6
4   Q1 2012             24.43
5   Q2 2012             25.71
6   Q3 2012             27.49
7   Q4 2012             30.36
8   Q1 2013             34.24
9   Q2 2013             35.63
10  Q3 2013             38.01
11  Q4 2013             41.43
12  Q1 2014             46.14
13  Q2 2014             47.99
14  Q3 2014             50.65
15  Q4 2014             54.48
16  Q1 2015             59.62
17  Q2 2015             62.71
18  Q3 2015             66.02
19  Q4 2015             70.84
20  Q1 2016             77.71
21  Q2 2016              79.9
22  Q3 2016             83.28
23  Q4 2016             89.09
24  Q1 2017             94.36
25  Q2 2017             99.04
26  Q3 2017            104.02
27  Q4 2017            110.64
28  Q1 2018             118.9
29  Q2 2018            124.35
30  Q3 2018            130.42
31  Q4 2018            139.26
32  Q1 2019            148.86
33  Q2 2019            151.56
34  Q3 2019            158.33
35  Q4 2019            167.09
36  Q1 2020            182.86
37  Q2 2020            192.95
38  Q3 2020            195.15
39  Q4 2020            203.66

In [112]:
import matplotlib.pyplot as plt

### BAR CHART AND PIE CHART

In [133]:
# Generate a bar plot showing the total number of netflix users.
Netflix_clean.plot(kind='bar')
plt.xlabel('Millions of Users')
plt.ylabel("Quarter")
plt.title('Number of Netflix Users over the time')

TypeError: no numeric data to plot

In [76]:
table= soup.find_all('table')[2]
#Table_=table.text
table
Table_different_servers_sub_df=pd.read_html(str(table))
Table_different_servers_sub_df
Dif_servers=Table_different_servers_sub_df[0]
Dif_servers

,0,1,2
0,"Netflix users vs other streaming services, global","Netflix users vs other streaming services, global","Netflix users vs other streaming services, global"
1,Service,"Subscribers, millions",Date figure pulled
2,Netflix,204,Jan-21
3,Amazon Prime,150,Jan-20
4,Disney Plus,87,Dec-20
5,Hulu,39,Dec-20
6,HBO Max,38,Jan-21
7,Peacock,33,Jan-21
8,CBS All Access/Paramount+*,18,Nov-20
9,Curiosity Stream,13,Jun-20
10,Apple TV Plus,10-33**,Feb-20

In [96]:
Dif_servers_df=Dif_servers.drop(columns=[0,1,2])
Dif_servers_df=Dif_servers.rename(columns={0:'Stream Service', 1:'Millions of Users'})
Dif_servers_c=Dif_servers_df.drop(columns=[2])
Dif_servers_clean=Dif_servers_c.drop([0,1,4,5,7,8,9,10])
Dif_servers_clean

  Stream Service Millions of Users
2        Netflix               204
3   Amazon Prime               150
6        HBO Max                38

In [ ]:
browser.find('table').text

In [ ]:
#retrieve response
response=requests.get(url)
#create beautifulsoup object with parse
soup=BeautifulSoup(html,'html.parser')

In [ ]:
browser.find_by_css('span', style='font-size: 12pt;')

In [ ]:
#retrieve response
response=requests.get(url)

In [ ]:
#create beautifulsoup object with parse
soup=BeautifulSoup(response.text,'html.parser')

In [ ]:
#get the results and return those as a list
results=soup.find_all('span',style='font-size: 12pt;')

In [ ]:
results

In [ ]:
#get the results and return those as a list
results=soup.find_all('td',class_='titleColumn')
for result in results:
    #error handling
    #try:
    Titles_IMBD=result.find('a').text
    Year_movies_IMBD=result.find('span',class_='secondaryInfo').text
    print(Titles_IMBD)
    print(Year_movies_IMBD)

In [ ]:
results_1=soup.find_all('td',class_='ratingColumn imdbRating')
for result_ in results_1:
    Rating_IMBD=result_.find('strong').text
    print(Rating_IMBD)

### NEW YORK TIMES BEST 50 (NETFLIX)

In [ ]:
#website
url= 'https://www.nytimes.com/article/best-movies-netflix.html'
#visit the website
browser.visit(url)

In [ ]:
soup=BeautifulSoup(response.text,'html.parser')

In [ ]:
#get the results and return those as a list
results_NYT=soup_.find_all('h2',class_='css-ow6j0y')
for x in results_NYT:
    print(results_NYT).text
    #Year_movies_NYT=result.find('span',class_='secondaryInfo').text
    #print(Titles_NYT)
    #print(Year_movies_NYT)

In [ ]:
#html object
html = browser.html
#parse with a beautiful soup
soup = BeautifulSoup(html, 'html.parser')
#retrieve the titles
titles_NY_netflix= soup.find_all('h2',class_='css-ow6j0y')
#title=titles.find('',class_='titleColumn')
titles_NY_netflix

In [ ]:
type(soup)

In [ ]:
soup.title_NY_netflix.text

### NEW YORK TIMES BEST MOVIES (AMAZON)

In [ ]:
#website
url= 'https://www.nytimes.com/article/best-movies-amazon-prime.html'
#visit the website
browser.visit(url)

In [ ]:
soup=BeautifulSoup(response.text,'html.parser')

In [ ]:
#get the results and return those as a list
results_NYT_amazon=soup_.find_all('h2',class_='css-ow6j0y')
for x in results_NYT_amazon:
    print(results_NYT_amazon).text

In [ ]:
#website
url= 'https://www.nytimes.com/article/best-movies-amazon-prime.html'
#visit the website
browser.visit(url)

In [ ]:
#html object
html = browser.html
#parse with a beautiful soup
soup = BeautifulSoup(html, 'html.parser')
#retrieve the titles
titles_NY_Amazon_Prime= soup.find_all('h2',class_='css-ow6j0y')
#title=titles.find('',class_='titleColumn')
titles_NY_Amazon_Prime